{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/style2.css' %}" rel="stylesheet">

<div style="font-size:20px;">Questão 4
    <p class="q">Descreva como você faria a identificação taxonômica do genoma montado,
        considerando que a amostra não foi bem isolada, e pode conter mais de um organismo
        (considere que como houve uma tentativa de isolar, ela deve conter entre 1 e 5 organismos). </p>

    <p class="a">Se esta amostra está contaminada, é possível isolar o genoma de interesse.</p>

</div>

{% endblock %}


