{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/style2.css' %}" rel="stylesheet">

<div style="font-size:20px;">Questão 3
    <p class="q">Os processo descritos em 3.1 e 3.2 são passíveis de automação? Seria possível montar um script que realize todo o processo, tendo como input apenas os arquivos FASTQ (R1 e R2) do sequenciamento? Discorra sobre a possibilidade disso, e, caso possível, como garantir (ou ao menos medir) a qualidade desta montagem/anotação/identificação. Comente sobre possíveis problemas. </p>

    <p class="a">Aqui será colocada a resposta</p>

</div>

{% endblock %}


