{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/style2.css' %}" rel="stylesheet">

<div style="font-size:20px;">Questão 5
    <p class="q">Você identificou a amostra e reconheceu que ela não estava bem isolada.
        Como você poderia solucionar este genoma? Descreva o que faria para separar os scaffolds
        em dois arquivos de genoma finais. Como poderia medir a qualidade da montagem final? </p>

    <p class="a">Não tenho certeza, mas imagino que seja pela filogenia de cada scaffold.</p>

</div>

{% endblock %}


