{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/style2.css' %}" rel="stylesheet">

<div style="font-size:20px;">Questão 1
    <p class="q">Descreva todas as etapas que você usaria para realizar a montagem, anotação e verificação de qualidade de um
        genoma de um isolado bacteriano, tendo como base arquivos FASTQ de um sequenciamento Illumina MiSeq paired-end
        (arquivo R1 e R2), com 2 milhões de reads cada. Reads do arquivo R1 tem 306 pares de base, e reads do arquivo R2
        tem 206 pares de base. Suponha que a amostra está bem isolada, contendo um único organismo. </p>

    <p class="a">Montagem: Velvet; Anotação: Prokka; Controle de qualidade dos reads: FastQC. Os aplicativos da Illumina são
    user-friendly e facilitam o trimming e a remoção de adaptadores.</p>

</div>

{% endblock %}


