{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/style2.css' %}" rel="stylesheet">

<div style="font-size:20px;">Automation</div>

<div>
<p>Em uma semana foi possível utilizar a ferramenta docker pela primeira vez e estruturar um projeto django com banco de dados postgres.
Seria necessário mais uma semana para a realização das análises.
</p>

<p> Contudo, para mim, esse trabalho tem por objetivo apresentar a capacidade de utilização de uma nova ferramenta e integração com ferramentas
    de visualização (D3.js).
</p>

<p>O qiime não parece ser uma ferramenta de simples integração. Apesar dos autores mencionarem uma "nova" versão, ela ainda usa Python2.7,
    que não é compatível com a maioria das ferramentas atuais.
</p>

<p>Se houver a possibilidade de extender uma semana, seria possível a entrega do projeto completo.</p>

<a href="https://rpubs.com/esthercamilo/">Rpubs</a>



</div>




{% endblock %}


