{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/style2.css' %}" rel="stylesheet">

<div style="font-size:20px;">OTU table</div>

<div>
<table class="table" style="font-size:12px;">
  <thead>
    <tr>
        {% for h in header %}
            <th>{{h}}</th>
        {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for v in lines %}
    <tr>
      {% for x in v %}
        <td style="text-align:center;">{{x}}</td>
      {% endfor %}
    </tr>
  {% endfor %}

  </tbody>
</table>
</div>
</div>




{% endblock %}


