{% extends 'base.html' %}
{% load static %}
{% block content %}

<h3>Trimming<span style="padding:10px; font-size:12px; vertical-align:top;"></span></h3>

<script src="{% static 'js/tools.js' %}"></script>

<!--<form action="" method="post">-->
<!--    {% csrf_token %}-->
<!--<div>-->
<!--    <div class="input-group" style="padding:10px;">-->
<!--        <input type="text" class="form-control">-->
<!--        <div class="input-group-append">-->
<!--            <span class="input-group-text">Import file</span>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div>-->
<!--    <div class="input-group" style="padding:10px;">-->
<!--        <div class="input-group-append">-->
<!--            <span class="input-group-text">Add Epitope</i></span>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="epitopes">-->
<!--    <div class="input-group" style="padding:10px;">-->
<!--        <div class="input-group-prepend">-->
<!--            <span class="input-group-text">Epitope</span>-->
<!--        </div>-->
<!--        <input type="text" class="form-control" name="epitope"/>-->
<!--        <div class="input-group-prepend">-->
<!--            <span class="input-group-text">MHC restrict alleles</span>-->
<!--        </div>-->
<!--        <input type="text" class="form-control" name="mhc">-->
<!--        <div class="input-group-prepend">-->
<!--            <span class="input-group-text"><i class="far fa-trash-alt"></i></span>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="regions" style="padding:10px;">-->
<!--    <p style="padding:10px;">Population</p>-->
<!--    <input type="text" class="form-control" name="country"/>-->
<!--    <br/>-->
<!--    <input class="btn btn-primary" type="submit" value="Submit">-->
<!--</div>-->



<!--</form>-->

{% endblock %}


